html,
body {
  margin: 0;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.franki-logo {
  font-weight: 900;
}
.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
}

.navbar a {
  padding-top: 14px;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: crosshair;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-right: 30px;
  padding-left: 30px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: crosshair;
  z-index: 8;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  cursor: crosshair;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

canvas {
  display: block;
}

html {
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  text-align: center;
  box-sizing: border-box;
  width: fit-content;
}

.p5 {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: fit-content;
}

.instagram-button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 200px 2px;
  cursor: crosshair;
  width: 100px;
  height: 100px;
  background: rgb(69, 248, 14);
  transition: width 2s;
}

.instagram-button:hover {
  width: 300px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 520px) {
  body {
    overflow: hidden;
  }
}

.content-section {
  display: none;
}

#myCapture {
  position: absolute;
  top: -10000px;
}

.grid-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#imageContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 1s;
  overflow: hidden;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 80%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 40px;
  z-index: 1;
}

h2 {
  margin: -40px 14px;
  transition: color 0.3s ease;
  font-size: clamp(10rem, 20vw, 30rem);
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

h2:hover,
a:hover > h2 {
  color: grey;
}

h2.email a:hover {
  color: grey;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 97%;
  color: grey;
  text-align: right;
}
