html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  canvas {
    display: block;
  }
  


html {
    height: 100%;
}



body {
    background-color: rgb(255, 255, 255);
    /* background-image: url(images/Screenshot\ 2021-06-23\ at\ 13.07.31.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

header {
            
    height: fit-content;
    text-align: center; 
}

nav {
    /* background-color: rgba(0, 0, 0, 0.4); gotten rid of box*/
    
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    position: fixed;
    cursor: crosshair;


}

main {
    
    /* height: 400px; */
    text-align: center;
    /* margin-top: 80px; */
    /* padding-left: 240px;
    padding-right: 240px; */
    box-sizing: border-box;
    width: fit-content;


}

footer {
    
    height: 100px;
}

h1 a{
    
    /** font-size: 14px;
 /** font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: right;

    text-decoration: none;
    line-height: 175px; */

    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 300px;
    padding-right: 100px;
    position: static;
    display: inline-flex;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    
    box-sizing: border-box;
    float: right;




}

p {
    font-size: 50px;
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
}

nav a {
    text-decoration: none;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    position: static;
    cursor: crosshair;
}

.p5 {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    
}

section {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;

}

.work {

    position: static;
    padding-top: 100px;

}

.work a {
    font-size: 50px;
    text-decoration: none;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    position: static;
}


button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 200px 2px;
    cursor: crosshair;
    width: 100px;
  height: 100px;
  background: rgb(69, 248, 14);
  
  transition: width 2s;
    
 

}
button:hover {
    width: 300px;
    scroll-behavior: smooth;
  }

@media screen and (max-width:  580px) {
    body {
        overflow: hidden;
    }



