html,
body {
  margin: 0;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.franki-logo {
  font-weight: 900;
}
.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
}

.navbar a {
  padding-top: 14px;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: crosshair;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-right: 30px;
  padding-left: 30px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: crosshair;
  z-index: 8;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  cursor: crosshair;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

canvas {
  display: block;
}

html {
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  text-align: center;
  box-sizing: border-box;
  width: fit-content;
}

.p5 {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: fit-content;
}

.instagram-button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 200px 2px;
  cursor: crosshair;
  width: 100px;
  height: 100px;
  background: rgb(69, 248, 14);
  transition: width 2s;
}

.instagram-button:hover {
  width: 300px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 520px) {
  body {
    overflow: hidden;
  }
}

.content-section {
  display: none;
}

#myCapture {
  position: absolute;
  top: -10000px;
}

.grid-container {
  display: grid;
  gap: 10px;
  row-gap: 40px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  margin: 20px;
}

.grid-item {
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 80%;
  margin: auto;
}

.captions {
  text-align: left;
  width: 80%;
  margin-top: 10px;
}

button {
  margin-left: 0;
}

img {
  height: auto;
  border-radius: 30px;
  padding: 10px;
}

#job-board {
  width: 400px;
  height: auto;
}

.see-more-button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: crosshair;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 5px;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.see-more-button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 97%;
  color: grey;
  text-align: right;
}
