/* franki this is the whole page for the buttons and the header */

.logo {
  position: absolute;
  width: 40%;
  margin-top: 20px;
  display: none;
}

.header {
  color: white;
}

.main {
  pointer-events: none;
  user-select: none;
  z-index: 100;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logoLink {
  pointer-events: auto;
}

.navWrapper {
  width: 100%;
  overflow: auto;
  pointer-events: auto;
  display: flex;
  justify-content: flex-start;  
}

.navScroll {
  overflow: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  padding: 24px;
}

.pageButton {
  /* border: 1px solid transparent; */
  border-radius: 9999px;
  font-size: 16px;
  text-transform: uppercase;
  flex-shrink: 0;
  transition: border-color 0.3s;
  cursor: crosshair;
}

.pageButton:hover {
  border-color: white;
}

.pageButtonActive {
  color: #CA2B3B;
}

.pageButtonInactive {
  color: black;
}

.scrollTextContainer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  rotate: -2deg;
  user-select: none;
}

/* .scrollTextInner {
  position: relative;
} */

.contact {
  display: flex;
  gap: 16px;
  font-size: 16px;
  padding: 24px;
  pointer-events: all;
  cursor: crosshair;
}

@media (max-width: 768px) {
  .pageButton {
    font-size: 12px;
  }
}